ul
    display: flex
    gap: 2.5rem
    margin-right: 2rem
    list-style: none

    a
        text-decoration: none
        color: #fdfdfd
        font-size: 1.3rem
        font-family: 'Cormorant Upright', serif
        font-weight: 500
